@media (max-width: 768px) {

  .container {
    width: 100%;
    display: block;
  }
  .videoPlayer {
    width: 100%;
  }
}
@media (min-width: 768px) {
  
.container {
  display: flex;

  h1 {
    color: var(--text-color-2);
    font-size: 40px;
  }
  .textPresentation {
    flex-basis: 50%;
    font-family: var(--font-family);
    padding: 20px;
  }

  .videoContainer {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 50%;

    .videoPlayer {
      width: 80%;
    }

    img {
      height: 200px;
    }
  }
}
}
